* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chamada {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.paragrafo1 {
  margin-top: 20px;
}

.button-cadastro {
  background-color: #0aa698;
  color: white;
  border: solid 2px;
  border-color: #0aa698;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: block;
  margin: 30px auto;
  max-width: 200px;
}

.button-cadastro:hover {
  background-color: #ffffff;
}

.button-cadastro a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.login {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

.login a {
  text-decoration: none;
  color: #0aa698;
  text-decoration: none;
  transition: color 0.3s ease;
  padding-left: 5px;
}

.login a:hover {
  color: #faa92c;
}
